*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(images/tom-jerry-background.webp) no-repeat; 
    height:cover;
}

@font-face {
    font-family: tAndJ;
    src: url(font/Shermlock.ttf);
    }
  
h1 {
    font-family: tAndJ;
    color: rgb(0, 47, 255);
    font-size: 100pt;
}

p {
    font-family: tAndJ;
    color: red;
    font-size: xx-large;
}

button {
    font-family: tAndJ;
    color: red;
    font-size: 50pt;
}


#choosePet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

img {
    width : 200px;    
}

.pets {
    display: flex;
    justify-content: space-evenly;
}

#petUI {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    flex-direction: column;
}

#petImg {
    width: 200px;
}

#buttons {
    margin-top: 25px;
}

#newPet {
    margin-top: 25px;
}

#newPet:hover {
    color: red;
}

img:hover {
    width: 300px;
}

progress[value] {
    display: inline-block;
    -webkit-appearance: none;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  
  progress[value]::-webkit-progress-value {
    background: forestgreen;
    border-radius: 5px;
  }
  